{% extends 'base.html' %}

{% block title %}
Profile User
{% endblock %}

{% block content %}
{% include 'navbar/navbar.html' %} <!-- Including the user navbar -->

<div class="flex flex-col items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-3xl w-full">
        <h2 class="text-2xl font-bold text-[#49274A] mb-8 text-center">Profile</h2>

        <div class="grid grid-cols-2 gap-y-4 mb-4">
            <div>
                <label for="inputName" class="block font-bold text-gray-700">Name:</label>
            </div>
            <div>
                <label class="block text-gray-700">{{ user_data.name }}</label>
            </div>

            <div>
                <label for="inputLevel" class="block font-bold text-gray-700">Level:</label>
            </div>
            <div>
                <label class="block text-gray-700">{{ user_data.level }}</label>
            </div>

            <div>
                <label for="inputSex" class="block font-bold text-gray-700">Sex:</label>
            </div>
            <div>
                <label class="block text-gray-700">{{ user_data.sex }}</label>
            </div>

            <div>
                <label for="inputPhoneNum" class="block font-bold text-gray-700">Phone Number:</label>
            </div>
            <div>
                <label class="block text-gray-700">{{ user_data.phone_number }}</label>
            </div>

            <div>
                <label for="inputBirthDate" class="block font-bold text-gray-700">Birth Date:</label>
            </div>
            <div>
                <label class="block text-gray-700">{{ user_data.dob }}</label>
            </div>

            <div>
                <label for="inputAddress" class="block font-bold text-gray-700">Address:</label>
            </div>
            <div>
                <label class="block text-gray-700">{{ user_data.address }}</label>
            </div>

            <div>
                <label for="inputMyPayBalance" class="block font-bold text-gray-700">MyPay Balance:</label>
            </div>
            <div>
                <label class="block text-gray-700">{{ user_data.my_pay_balance }}</label>
            </div>
        </div>

        <div class="flex justify-center mt-6">
            <form action="{% url 'profileUserUpdate' %}" method="GET">
                <button type="submit" class="bg-[#49274A] text-white px-6 py-3 rounded-lg font-bold hover:bg-[#94618E] transition duration-300">
                    Update
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
