{% extends 'base.html' %}

{% block title %}
Profile User
{% endblock %}

{% block content %}
{% include 'navbar/navbar_worker.html' %} <!-- Including the worker navbar -->
<div class="flex items-center justify-center mt-20">
    <div class="bg-white p-8 rounded-lg shadow-lg max-w-3xl w-full">
        <h2 class="text-2xl font-bold text-[#49274A] mb-8 text-center">Profile</h2>
        <div class="flex justify-center mb-8">
            <img src="https://via.placeholder.com/150" alt="Profile Image" class="w-36 h-36 rounded-full object-cover">
        </div>
        <div class="grid grid-cols-2 gap-y-6 text-gray-700 text-sm mb-8">
            <div class="font-bold">Name:</div>
            <div>Haruto</div>
            <div class="font-bold">Phone number:</div>
            <div>08121212121</div>
            <div class="font-bold">Sex:</div>
            <div>Male</div>
            <div class="font-bold">Birth date:</div>
            <div>23/03/2004</div>
            <div class="font-bold">Address:</div>
            <div>Jl. Osaka</div>
            <div class="font-bold">MyPay Balance:</div>
            <div>0</div>
            <div class="font-bold">Bank name:</div>
            <div>OVO</div>
            <div class="font-bold">Account number:</div>
            <div>12345</div>
            <div class="font-bold">NPWP:</div>
            <div>0122344567789</div>
            <div class="font-bold">Rate:</div>
            <div>5</div>
            <div class="font-bold">Completed order count:</div>
            <div>10</div>
            <div class="font-bold">Job Category:</div>
            <div>
                1. Home Cleaning <br> 2. Deep Cleaning
            </div>
        </div>
        <div class="flex justify-center">
            <form action="{% url 'profileWorkerUpdate' %}">
                <button type="submit" class="bg-[#49274A] text-white px-6 py-3 rounded-lg font-bold hover:bg-[#94618E] transition duration-300">
                    Update
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
