{% extends 'base.html' %}

{% block title %}
Welcome
{% endblock %}

{% block css %}
<style>
    .landing-container {
        text-align: center;
        margin: 15rem auto;
        max-width: 400px;
    }

    .landing-title {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        font-weight: bold;
        color: #49274A;
    }

    .landing-description {
        margin-bottom: 1.5rem;
        font-size: 1.2rem;
        color: #94618E;
    }

    .landing-buttons {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-top: 2rem;
        
    }

    
    .landing-btn {
        padding: 0.8rem;
        background-color: #49274A;
        color: white;
        border: none;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        width: 100%;
    }

    .landing-btn:hover {
        background-color: #94618E;
        color: #FFFFFF;
    }
</style>
{% endblock %}

{% block content %}
<div class="landing-container">
    {% include 'navbar/navbar_guest.html' %}
    <h1 class="landing-title">SIJARTA by DTI</h1>
    <p class="landing-description">Please choose an option to proceed:</p>
    <div class="landing-buttons">
        <!-- Log In Button -->
        <a href="{% url 'login' %}" class="landing-btn">Log In</a>
        <!-- Register Button -->
        <a href="{% url 'register' %}" class="landing-btn">Register</a>
    </div>
</div>
{% endblock %}
