{% extends 'base.html' %}

{% block title %}
Logout
{% endblock %}

{% block content %}
{% include 'navbar/navbar_guest.html' %}
<div class="text-center my-40">
    <h1 class="text-xl font-semibold mb-8">You have been logged out successfully.</h1>
    <a href="{% url 'landing' %}" 
       class="px-8 py-3 bg-[#49274A] text-white rounded-md text-base font-bold transition-all hover:bg-[#94618E] hover:underline focus:outline-none focus:ring-2 focus:ring-[#94618E]">
        Login Again
    </a>
</div>
{% endblock %}
